.border {
    border: 1px solid black;
    .title{
        margin-top: 0 !important;
    }
}

.form {
    display: flex;
    flex-direction: column;
    padding: 0 45px;
    box-sizing: content-box;


    .title{
        font-size: 25px;
        font-weight: 500;
        margin: 15px 0 30px 0;
    }

    .label{
        font-size: 14px;
        text-align: initial;
        font-weight: 500;
        display: block;
        margin: 25px 0 10px 0;
    }

    .taskName{
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        height: 35px;
        border-radius: 5px;
        border: 1px solid #767676;
    }

    .error {
        border-color: red;
    }


    .error-message {
        color: red;
    }

    .description {
        width: 100%;
        height: 160px;
        padding: 10px;
        box-sizing: border-box;
        resize: none;
    }

    .box-item{
        display: flex;
        justify-content: space-between;
    }

    .item{
        width: 48%;
    }

    .date {
        width: 100%;
        height: 35px;
        padding: 7px;
        box-sizing: border-box;
    }

    .piority {
        width: 100%;
        height: 35px;
        padding: 7px;
        box-sizing: border-box;
    }
    
    .button {
        width: 100%;
        color: white;
        font-weight: 500;
        margin: 40px 0 30px;
        height: 35px;
        border: 0;
        background-color: #5cb85c;
    }
}

